<!DOCTYPE html>
<html>
<head>
  <title>HUNGER FOR MORE ATTITUDE</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./assets/css/styles.css">
  <link rel="shortcut icon" type="image/jpg" href="./assets/img/favicon.svg"/>
  <meta http-equiv = "refresh" content = " time ; url = www.piranhatattoostudios.com"/>

</head>
<body>
<div id="header">
  <div id="logo">
    <img style="height: 70%;" src="./assets/img/logored.svg">
  </div>
  <div id="piranha">
    <img style="height: 100%;" src="./assets/img/logoblack.svg">
  </div>
</div>
If you are not redirected automatically, follow this <a href='http://piranhatattoostudios.com'>link</a>.
</body>
</html>