<div id="cookies">
    <h6>Cookies Policy</h6>
    <h5>What are Cookies?</h5>
    <p>Cookies are small text files that are placed on your computer or mobile device when you visit websites. Cookies help websites store and retrieve information about your browsing habits to customize your browsing according to your preferences.</p>
    <p></p>
    <p></p>
    <h5>What type of cookies does our website use?</h5>
    <p></p>
    <p><strong>Session cookies:</strong> Are temporary cookies that remain in the cookie file of the browser until it leaves the web page, without leaving any registry of the user on the hard disk. The information collected by these cookies is used to analyse traffic patterns and website browsing. This enables us to improve the website’s content and usability.</p>
    <p><strong>Analysis cookies:</strong> Are those that allow us to quantify the number of users and carry out measurements and statistical analysis of how users use the service provided if handled correctly by us and by third parties. We examine the navigation of our website to improve the supply of products or services that we provide.</p>
    <p><strong>Advertising Cookies:</strong> are specifically designed to gather information from you on your device to display advertisements to you based on relevant topics that interest you. Advertisers will place these cookies on a website with the website operator’s permission. The information the cookies gather on you can be shared with other advertisers to measure the performance of their advertisements. Additionally, another purpose of targeting and advertising cookies is to build user profiles from visitors to the website to gather statistics on the performance of the advertisements that can carry across many websites.
    </p>
    <p></p>
    <p></p>
    <h5>Which cookies do we use on our website?</h5>
    <p></p>
    <table>
        <tr>
            <th>Cookie</th>
            <th>Name</th>
            <th>Object</th>
            <th>Type</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td style="border-right: none"><h5>Session Cookies</h5></td>
        <tr>
            <td>Prestashop</td>
            <td>PHPSESSID</td>
            <td>You can use this data to update your cookie policy, screen services that set specific cookies or contribute to our effort in creating internet transparency.  Data passport: To see this, just click on the name of the service.</td>
            <td>Session and Host</td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td style="border-right: none"><h5>Analysis Cookies</h5></td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>_gat</td>
            <td>This cookie is usually written into the browser on the first visit. If the cookie has been deleted by the browser operator and the browser subsequently visits revolutionneedles.com, the new _gat cookie will be saved with a unique ID. In most cases this cookie is used to determine unique visitors to revolutionneedles.com and is updated with each page view. In addition, this cookie is provided with a unique ID that Google Analytics uses to ensure the validity and accessibility of the cookie as an extra security measure.</td>
            <td>internal and session</td>
            <td>1 Minute</td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>_gid</td>
            <td>This cookie stores a unique user session identifier.</td>
            <td>Internal and third parties</td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>_ga</td>
            <td>This cookie is usually written into the browser on the first visit. If the cookie has been deleted by the browser operator and the browser subsequently visits revolutionneedles.com, the new _ga cookie will be saved with a unique ID. In most cases this cookie is used to determine unique visitors to revolutionneedles.com and is updated with each page view. In addition, this cookie is provided with a unique ID that Google Analytics uses to ensure the validity and accessibility of the cookie as an extra security measure.</td>
            <td>Internal and third parties</td>
            <td>2 Years</td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>__utmb</td>
            <td>This cookie is used to determine new sessions / visits</td>
            <td>Internal</td>
            <td>30 Minutes</td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>__utma</td>
            <td>This cookie is typically written to the browser on the first visit. If the cookie has been deleted and the website is visited the next time, a new __utma cookie is written with a different unique ID. In most cases, this cookie is used to determine unique visits to the website and is updated with each pageview. Additionally, this cookie is provided with a unique ID that Google Analytics uses to ensure both the validity and accessibility of the cookie, as an extra security measure.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>__utmv</td>
            <td>This cookie is used to store custom variable data at the visitor level. This cookie is created when a programmer uses the _setCustomVar method with a visitor-level custom variable. This cookie was also used for the deprecated _setVar method. The cookie is updated whenever data is sent to Google Analytics.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Google Analytics</td>
            <td>__utmz</td>
            <td>This cookies stores the type of referral used by the user to reach the website, whether through direct traffic, referral links, a serach or a capaign, such as an ad or an email link. It is used to calculate traffic generated through search engines, campaigns and navigation within the website. This cookie is updated with each pageview.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td style="border-right: none"><h5>Advertiser Cookies</h5></td>
        </tr>
        <tr>
            <td>Facebook</td>
            <td>datr, _js_datr, _js_reg_ext_ref, _js_reg_fb_gate</td>
            <td>These cookies are used by Facebook as part of the services incorporated on the websites (likes, shares, etc.). More information about Facebook's use of cookies can be found in its cookie policy.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Youtube</td>
            <td>SID</td>
            <td>This cookie is used by Google in combination with the HSID in verifying the user's Google account, if one exists, and the most recent login time for the Google account.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Youtube</td>
            <td>HSID</td>
            <td>Used by Google in combination with the SID when verifying the user's Google account, if one exists, and the most recent login time for the Google account.</td>
            <td>From third parties</td>
        </tr>
        <tr>
            <td>Youtube</td>
            <td>PREF</td>
            <td>This cookie is used by Google to set each user's language preferences.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Youtube</td>
            <td>NID</td>
            <td>Most Google users will have a preference cookie called "NID" in their browsers. A browser sends this cookie with requests to Google sites. The NID cookie contains a unique ID that Google uses to store your preferences and other information, such as preferred language (eg English), how many search results you want to display per page (eg 10 or 20) and whether you want to activate Google's SafeSearch filter.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Youtube</td>
            <td>LOGIN_INFO, YSC, SAPISID, SSID, APISID</td>
            <td>These cookies are set by YouTube and allow YouTube to gather information about the visitor's browser. revolutionneedles.com allows YouTube to set this cookie so that YouTube videos can be displayed on this site. More information about YouTube's use of cookies can be found in its cookie policy.</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Adwords</td>
            <td>_gcl_aw</td>
            <td>Takes information in ad clicks and stores it in a first-party cookie so that conversions can be attributed outside the landing page. </td>
            <td>From third parties</td>
            <td>3 months</td>
        </tr>
        <tr>
            <td>Adwords</td>
            <td>1P_JAR</td>
            <td>Sets a unique ID to remember your preferences and other information such as website statistics and track conversion rates. Google's policies can be viewed.</td>
            <td>From third parties</td>
            <td>1 month</td>
        </tr>
        <tr>
            <td>Adwords</td>
            <td>Conversion</td>
            <td>Help you track sales and other cersions from your ads and free listings</td>
            <td>From third parties</td>
            <td></td>
        </tr>
        <tr>
            <td>Tag Manager</td>
            <td>_dc_gtm_</td>
            <td>This describes if this specific cookie , localStorage or other resource is responsible for sharing, collecting or storing direct or indirect personal data.</td>
            <td>From third parties</td>
            <td>1 minute</td>
        </tr>
    </table>
<p></p>
<p></p>
<h6>What happens if you don't allow the use of cookies?</h6>
<p>If you prefer not to allow the use of cookies, you can disable cookies in your website browser, but should take into account that it may prevent some Web pages from being displayed correctly.</p>
<p></p>
<p></p>
<h6>How do I configure my browser?</h6>
<p>You can access tutorials about your browser directly from the links below:</p>
<ul>
    <li><a href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
    <li><a href="https://support.mozilla.org/pt-BR/kb/gerencie-configuracoes-de-armazenamento-local-de-s">Firefox</a></li>
    <li><a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac">Safari</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&oco=1&hl=pt-BR">Google Chrome</a></li>
    <li><a href="https://support.microsoft.com/pt-br/help/4027947/microsoft-edge-delete-cookies">Microsoft Edge</a></li>
    <li><a href="https://help.opera.com/en/latest/web-preferences/#cookies">Opera</a></li>
</ul>
</div>