/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 @font-face {
    font-family: adelle;
    src: url(https://use.typekit.net/npp2oht.css);
  }
  @font-face {
    font-family:"adelle";
    src:url("https://use.typekit.net/af/e0617b/000000000000000077359943/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e0617b/000000000000000077359943/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e0617b/000000000000000077359943/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle";
    src:url("https://use.typekit.net/af/ce0c16/000000000000000077359962/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/ce0c16/000000000000000077359962/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/ce0c16/000000000000000077359962/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle";
    src:url("https://use.typekit.net/af/9fade4/000000000000000077359975/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9fade4/000000000000000077359975/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9fade4/000000000000000077359975/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle";
    src:url("https://use.typekit.net/af/982b02/00000000000000007735994f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/982b02/00000000000000007735994f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/982b02/00000000000000007735994f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-sans";
    src:url("https://use.typekit.net/af/aa897e/00000000000000007735a1c8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/aa897e/00000000000000007735a1c8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/aa897e/00000000000000007735a1c8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle-sans";
    src:url("https://use.typekit.net/af/2eeb33/00000000000000007735a1c5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2eeb33/00000000000000007735a1c5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2eeb33/00000000000000007735a1c5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle-sans";
    src:url("https://use.typekit.net/af/5d0e28/00000000000000007735a1d1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/5d0e28/00000000000000007735a1d1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/5d0e28/00000000000000007735a1d1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-sans";
    src:url("https://use.typekit.net/af/a96fc4/00000000000000007735a1de/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a96fc4/00000000000000007735a1de/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a96fc4/00000000000000007735a1de/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-condensed";
    src:url("https://use.typekit.net/af/f76dcd/000000000000000077359973/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f76dcd/000000000000000077359973/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f76dcd/000000000000000077359973/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle-condensed";
    src:url("https://use.typekit.net/af/1bf91b/00000000000000007735996d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/1bf91b/00000000000000007735996d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/1bf91b/00000000000000007735996d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle-condensed";
    src:url("https://use.typekit.net/af/17447b/000000000000000077359960/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/17447b/000000000000000077359960/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/17447b/000000000000000077359960/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-condensed";
    src:url("https://use.typekit.net/af/52e7c0/000000000000000077359986/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/52e7c0/000000000000000077359986/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/52e7c0/000000000000000077359986/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-sans-ultra-thin";
    src:url("https://use.typekit.net/af/5b44d0/00000000000000007735a1c4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/5b44d0/00000000000000007735a1c4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/5b44d0/00000000000000007735a1c4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:200;
    }
    
    @font-face {
    font-family:"adelle-sans-ultra-thin";
    src:url("https://use.typekit.net/af/916615/00000000000000007735a1c6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/916615/00000000000000007735a1c6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/916615/00000000000000007735a1c6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:200;
    }
    
    @font-face {
    font-family:"adelle-sans-condensed";
    src:url("https://use.typekit.net/af/8e5699/00000000000000007735a1d8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8e5699/00000000000000007735a1d8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8e5699/00000000000000007735a1d8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-sans-condensed";
    src:url("https://use.typekit.net/af/52896b/00000000000000007735a1dc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/52896b/00000000000000007735a1dc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/52896b/00000000000000007735a1dc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    }
    
    @font-face {
    font-family:"adelle-sans-condensed";
    src:url("https://use.typekit.net/af/cc3f77/00000000000000007735a1e5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/cc3f77/00000000000000007735a1e5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/cc3f77/00000000000000007735a1e5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle-sans-condensed";
    src:url("https://use.typekit.net/af/c1f4c0/00000000000000007735a1e7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c1f4c0/00000000000000007735a1e7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c1f4c0/00000000000000007735a1e7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"adelle-ultrathin";
    src:url("https://use.typekit.net/af/95852c/00000000000000007735994c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/95852c/00000000000000007735994c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/95852c/00000000000000007735994c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:100;
    }
    
    @font-face {
    font-family:"adelle-ultrathin";
    src:url("https://use.typekit.net/af/f56822/000000000000000077359950/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/f56822/000000000000000077359950/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/f56822/000000000000000077359950/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:100;
    }
  
  @font-face {
    font-family: SairaCondensed;
    src: url(../fonts/SairaCondensed/SairaCondensed-Black.ttf);
  }
  @font-face {
    font-family: SairaCondensed;
    src: url(../fonts/SairaCondensed/SairaCondensed-Bold.ttf);
    font-weight: bold;
  }

/* TITULO PRODUTO */
  .h1{
      font-family: SairaCondensed;
      font-size: 2rem;
  }

/* REMOVER THUMB */
  .js-qv-mask {
    display: none;
  }

  .current-price{
    font-family: 'SairaCondensed';
    color: black;
    font-size: 1.9rem;
  }

  .tax-shipping-delivery-label{
	display:none;
}

.breadcrumb{
  display: none;
}

.control-label{
  font-family: 'adelle';
}

.h6{
  display: none;
}

#product-availability{
  display: none;
}

#notify{
  width: 27px;
  margin-bottom: 6px;
}

#mailalert_link{
  display: none;
}

.tabs {
  display: none;
}
/* STYLE BOTÕES RADIO */
.radio-label {
  font-family: 'adelle-sans';
  font-weight:100;
  color: #d6d6d6;
  box-shadow: none;
  border: solid 1px #d6d6d6;
  width: 180px;
  height: 40px;
  padding-top: 0.5rem;
  text-align: center;
  border-radius: 10px;
}

.radio-label-small {
  font-family: 'adelle-sans';
  font-weight:100;
  color: #d6d6d6;
  box-shadow: none;
  border: solid 1px #d6d6d6;
  width: 118px;
  height: 40px;
  padding-top: 0.5rem;
  text-align: center;
  border-radius: 10px;
}



/* ADD TO CART */
.add-to-cart {
  color: black;
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
}

.shopping-cart {
  display: none;
}

/* RETIRAR MODAL EM CIMA DA IMAGEM *//*
.hidden-sm-down{
  display: none !important;
}
*/
.needleSpecs {
  width: 90%;
}

.input-container{
  margin-bottom: 0.625rem;
}

.icon {
  margin-top: 4px;
  margin-left: -20px;
  background: url('../img/interrogacao.svg');
  height: 15px;
  width: 15px;
  display: block;

}

.scroll-box-arrows{
  display: none;
}

#check{
  color: white;
  background-color: black;
}

/* QUANTITY BUTTONS */
.input-group-btn-vertical{
  display: none !important;
}

.qty {
  height: 2rem;
  margin: 0 !important;
}

.qtb{
  text-align: center;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  padding-top: 0.4rem;
  cursor: pointer;
  background-color: #d6d6d6;
}

.bootstrap-touchspin{
  height: 2rem;
  width: 2rem;
}

#quantity_wanted{
  height: 2.2rem !important;
  width: 2.2rem !important;
  border: none;
  text-align: center;
}

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

.bootstrap-touchspin{
  box-shadow: 0;
}

.add-to-cart{

}

/* DROPDOWNS */
/* Dropdown Button */

#dropdowns {
  display: block;
}


.dropbtn1 {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: relative;

  z-index: 1;
}

.dropbtn2 {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: relative;

  z-index: 1;
}



/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.material-icons {
  display: none !important;
}